# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# MongoDB (carpeta local de datos)
mongodb-data/

# Logs y archivos temporales
*.log
*.tmp
*.swp
.DS_Store

# Sistema operativo
Thumbs.db
ehthumbs.db

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# React build
frontend/build/

# Express static public if built
backend/public/

# Archivos de pruebas
__tests__/
coverage/

# Parcel/Vite/React cache
dist/
.cache/
vite.config.js
