# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs y archivos temporales
*.log
*.tmp
*.swp
.DS_Store

# IDEs y editores
.vscode/
.idea/

# Archivos de relleno
notas.txt
public/