OPENAI_API_KEY=<aqui va la clave de la API de OpenAI>
AIRTABLE_API_KEY=<aqui va la clave de la API de Airtable (la que empieza por app)>
AIRTABLE_BASE_ID=<id de la base de Airtable>
AIRTABLE_TABLE_NAME=Table 1